{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tunr</title>
    <link rel="stylesheet" href="{% static 'css/tunr.css' %}" />
</head>
<body>
    <h1>Tun.r</h1>
    <nav>
        <a href="/">Artists</a>
        <a href="/songs">Songs</a>
        <a href="/admin">Django Rest Framework Administration</a>
    </nav>
    {% block content%} {% endblock %}
</body>
</html>